* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--primario);
}

:root {
    --primario:#475D80;
    --secundario:#6082B5;
    --terciario: #A6ACFC;
    --blanco: #ffffff;
    --negro: #000000;
}
.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #5e84c0 !important;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 50px rgba(17, 17, 17, 0.5);
  }
  
  .sidebar.active {
    left: 0;
    background-color: #5e84c0 !important;
  }
  
  .trigger-image {
    cursor: pointer;
  }
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    background-color: var(--secundario);
    color: var(--blanco);
}
a{
    display: block;
    padding: 0.5rem 1rem;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.form-container {
  max-width: 600px; 
  margin: 0 auto; 
  padding: 70px 30px; 
  box-sizing: border-box; 
  background-color: var(--secundario);
  border-radius: 10px;
  top: 50%;
  transform: translateY(40%);
  
}
@media (max-width: 600px) {
  .container {
    width: 100%; 
    max-width: none; 
  }}

.btn{
    background-color: var(--primario);
    color: var(--blanco);
    font-size: 18px;
}
.sonido{
    font-size: 18px;
    color: var(--blanco);
    
}
.btnInicio {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.boton-icono img {
  display: block;
  width: 24px; /* Ajusta el tamaño de la imagen según sea necesario */
  height: 24px;
}

/* formato para el juego */

#cvs{
  position: absolute;
  border: 1px solid #000;
}

.options{
  position: absolute;
  width: 450px;
  height: 450px;
}

.options h1{
  text-align: center;
  font-size: 65px;
  font-family: 'Fascinate Inline', cursive;
  color: #f00;
  margin: 30px 0 20px 0;
}

.options h2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  font-weight: bold;
}

.options div{
  display: inline-block;
}

.options .computer, .x{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 5px;
  background-color: #FFF;
  color: #000;
  font-size: 1.5em;
  border-radius: 5px;
  margin-left: 70px;
  width: 150px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #000;
}

.options .friend, .o{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 5px;
  background-color: #FFF;
  color: #000;
  font-size: 1.5em;
  border-radius: 5px;
  margin-left: 10px;
  width: 150px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #000;
}

.options .friend:hover, .computer:hover, .x:hover, .o:hover{
  background-color: #011627;
  color: #FFF;
}

.options .play{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5em;
  width: 70px;
  display: block;
  margin: 25px auto;
  border-radius: 5px;
  border: 1px solid #011627;
  text-align: center;
  padding: 10px;
  background-color: #011627;
  color: #FFF;
  cursor: pointer;
  transition: 100ms width ease-in;
}
.options .play:hover{
  width: 110px;
}

.active{
  background-color: #011627 !important;
  color: #FFF !important;
}

.hide{
  display: none;
}

.gameover{
  position: absolute;
  width: 450px;
  height: 450px;
  background-color: rgba(0, 0, 0, 0.95);
}
.gameover h1{
  text-align: center;
  font-size: 50px;
  font-family: 'Fascinate Inline', cursive;
  color: #fff;
  margin: 40px 0 20px 0;
}

.gameover .winner-img{
  display: block;
  margin: 20px auto;
}

.gameover .play{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5em;
  width: 150px;
  display: block;
  margin: 25px auto;
  border-radius: 5px;
  border: 1px solid #fff;
  text-align: center;
  padding: 10px;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  transition: 100ms width ease-in;
}
.gameover .play:hover{
  width: 200px;
}
.container2{
  width: 450px;
  height: 450px;
  display: block;
  margin: 25px auto;
  position: relative;
}
