* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--primario);
}

:root {
    --primario:#475D80;
    --secundario:#6082B5;
    --terciario: #A6ACFC;
    --blanco: #ffffff;
    --negro: #000000;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    background-color: var(--secundario);
    color: var(--blanco);
}
a{
    display: block;
    padding: 0.5rem 1rem;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.form-container {
  max-width: 600px; 
  margin: 0 auto; 
  padding: 70px 30px; 
  box-sizing: border-box; 
  background-color: var(--secundario);
  border-radius: 10px;
  top: 50%;
  transform: translateY(40%);
  
}
@media (max-width: 600px) {
  .container {
    width: 100%; 
    max-width: none; 
  }}

.btn{
    background-color: var(--primario);
    color: var(--blanco);
    font-size: 18px;
}
.sonido{
    font-size: 18px;
    color: var(--blanco);
    
}